<!-- Navbar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/assets/images/ikkifik-logo-header.png">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <a href="/project" class="navbar-item">Project</a>
            <a href="https://github.com/ikkifik" class="navbar-item" target="_blank">Github</a>
            <a href="https://ikkifik.medium.com/" class="navbar-item" target="_blank">Medium</a>
        </div>
    </div>
</nav>
